name: .NET Core

on: [push]

jobs:
  c195:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.2.108
    - name: Build with dotnet
      working-directory: Challenge195
      run: dotnet build Challenge195/Challenge195.csproj -c Release -f netcoreapp3.1
    - name: Test with dotnet
      working-directory: Challenge195
      run: dotnet test Challenge195tests/Challenge195tests.csproj -c Release -f netcoreapp3.1
